<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gestión de Stock</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/icon-club-serrano.jpg" type="image/jpg"/>
</head>
<body>
    <nav>
        <img src="../static/img/logo-club-serrano.png" alt="Logo de Club Serrano">
        <ul>
            <li>
                Gráficos
            </li>
            <li>
                Productos
            </li>
            <li>
                Subir archivos
            </li>
        </ul>
    </nav>
    <main>
        <div>
            Acá irían los gráficos
        </div>
        <div>
            Por acá los controladores de gráficos
        </div>
    </main>
</body>
</html>